<h1>Créditos del juego</h1>

<p>Nuestro equipo está confomado por Abril Varela Sica e Ivan Kovadloff</p>

<img src="/images/abril.png">
<img src="/images/ivan.png">

<section>
    <div>
        <a href='@Url.Action("Index","Home")' title="#Index.cshtml">Menú</a>
    </div>
</section>