<h1>La catacumba sumadora</h1>

<p>
    Vaya, vaya... no me esperaba que seas tan bueno en esto! Ahora tienes un desafío aún más difícil. Cuando estás caminando hacia la 
    próxima sala, te cruzas con un pasillo el cual tiene números escondidos. Pon en práctica tus conocimientos matemáticos, 
    ya que la suma de los 5 números que encuentres son la clave para atravesar el nivel. ¡Vos podes!
</p>

<img src="/images/numeros.png">

@if(ViewBag.Error != null){
    <p>@ViewBag.Error</p>
}

<form action ='@Url.Action("Habitacion", "Home", new {sala="7"})' method="post">
    <input type="text" name="clave">
</form>

<button onclick='Swal.fire("Pista 1: Empieza por H");'> Pista 1</button>
<button onclick='Swal.fire("Pista 2: Termina con O");'> Pista 2</button>

<section>
    <div>
        <a href='@Url.Action("Index","Home")' title="#Index.cshtml">Menú</a>
        <a href='@Url.Action("Reiniciar","Home")' title="#Index.cshtml">Reiniciar</a>
    </div>
</section>