<h1>El Acertijo</h1>
<p>La esfinge se presenta en las catacumbas, detrás de ella hay una salida al próximo obstáculo. Pero no tan rápido! La única
manera de salir es diciendo correctamente el siguiente acertijo: "Dentro de ti soy la vida más pura, afuera o sin mi soy la muerte segura." </p>

<div>
    <img src="/images/esfinge.jpg">
</div>

@if(ViewBag.Error != null){
    <p>@ViewBag.Error</p>
}

<form action ='@Url.Action("Habitacion", "Home", new {sala="1"})' method="post">
    <input type="text" required autocomplete="off" name="clave">
    <input type="submit" value="Enviar" class="boton-submit">
</form>


<button onclick='Swal.fire("Pista 1: Es un líquido");'> Pista 1 </button>
<button onclick='Swal.fire("Pista 2: El ser humano está compuesto de esto en un 70%");'> Pista 2 </button>

<section>
    <div>
        <a href='@Url.Action("Index","Home")' title="#Index.cshtml">Menú</a>
        <a href='@Url.Action("Reiniciar","Home")' title="#Index.cshtml">Reiniciar</a>
    </div>
</section>





