<h1>El duende y sus travesuras</h1>

<p>
    Un duende te reta a resolver el último acertijo, tienes una lámpara y 3 interruptores, no podés ver la lámpara hasta que dejás de ver los interruptores
    y solo podés chequear 1 vez, ¿que hacés? 1- Prender la lámpara 1 y luego me fijo. 2- prendo 2 interruptores a la vez. 3- dejo uno prendido, luego lo apago y acciono otro.
</p>

<img src="/images/duende.jpg">

@if(ViewBag.Error != null){
    <p>@ViewBag.Error</p>
}

<form action ='@Url.Action("Habitacion", "Home", new {sala="5"})' method="post">
    <input type="text" name="clave">
        <input type="submit" value="Enviar" class="boton-submit">
</form>

<button onclick='Swal.fire("Pista 1: Recuerda que las lámparas se calientan... ");'> Pista 1 </button>
<button onclick='Swal.fire("Pista 2: Piensa con cautela, solo puedes ver una vez! ");'> Pista 2 </button>

<section>
    <div>
        <a href='@Url.Action("Index","Home")' title="#Index.cshtml">Menú</a>
        <a href='@Url.Action("Reiniciar","Home")' title="#Index.cshtml">Reiniciar</a>
    </div>
</section>
