@{
    ViewData["Title"] = "Home Page";
}

<header>
    <img src = "/images/logo.jpg" alt= "No se puede ver la imagen disculpe">
</header>

<section>
    <h1>Bienvenido a la Sala de Escape "Tesorin"!</h1>
    <div>
        <img src= "/images/catacumba.jpg" alt= "No se puede ver la imagen disculpe">
        <img src= "/images/tesoro.jpg" alt= "No se puede ver la imagen disculpe">
        <img src= "/images/catacumba2.jpg" alt= "No se puede ver la imagen disculpe">
    </div>
</section>

<p> 
    Menú: 
</p>

<section>
    <div>
        <a href='@Url.Action("Tutorial","Home")' title="#Turorial.cshtml">Tutorial</a>
        <a href='@Url.Action("Comenzar","Home")' title="#Comenzar.cshtml">Comenzar</a>
        <a href='@Url.Action("Creditos","Home")' title="#Creditos.cshtml">Creditos</a>
    </div>
</section>



   

