
<div>
    <h1>Tutorial y reglas de juego<h1>
    
    <p>
        El protagonista entra en unas catacumbas en busca del tesoro del antiguo emperador Stanca, el cual alberga cosas misteriosas 
        y mucha sabiduría. Una vez que el protagonista consigue el artefacto, descubre que no todo era tan fácil como él pensaba, el lugar está lleno de peligros, como trampas, 
        acertijos, decisiones y muchas habitaciones. Para salir de las catacumbas 
        y llevarle el tesoro a su querido compañero, deberá superar estos obstáculos. 
    </p>
    <p>
        Nosotros te daremos distintos acertijos a resolver y tendrás que escribir cual es la opción correcta. Si acertas, pasaras a la siguiente sala. 
        Si requieres ayuda extra, tienes la opción de presionar el botón "Pista", si necesitas más de una ayuda presiona "Pista extra". 
        En caso de no poder resolver la sala de ningun modo, puedes ver la solución en el botón "Solución". 
    </p>
    <p>
        ¡Necesita tu ayuda!¡Suerte, vos podes!
    </p>
    
    <section>
        <div>
            <img src= "/images/magnifying-glass-solid.svg">
        </div>
    </section>

    <section>
        <div>
            <a href='@Url.Action("Index","Home")' title="#Index.cshtml">Volver</a>
            <a href='@Url.Action("Comenzar","Home")' title="#Comenzar.cshtml">Comenzar</a>
        </div>
    </section>
</div>


