<h1>Como podrás ver, la catacumba te ha probado en distintos aspectos. Con  
tu sabiduría, tu valentía, tu fortaleza, tu inteligencia y tu humildad, has logrado llegar a la meta final. 
Eres digno del artefacto de Stanca, Felicidades!
</h1>
<div>
    <img src="/images/trophy-solid.svg">
</div>
