@font-face{
  font-family: Font1;
  src:Url(a.ttf);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #fba525;
}

html {
  position: relative;
  min-height: 100%;
}


/* Estilos generales del cuerpo */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(245, 215, 181);
  margin: 0;
  padding: 0;
  text-align: center; /* Centra todo el contenido */
}

/* Estilos para el encabezado */

header img{
  width: 15%;
  height: auto;
  border-radius: 5px;
}


/* Estilos para las secciones */
section {
  margin: 20px auto;
  max-width: 800px;
  text-align: center; /* Alinea el contenido de las secciones al centro */
}

/* Estilos para el título principal */
h1 {
  font-family: Font1;
  font-size: 2.5rem;
  color: #333;
  text-decoration: solid;
  margin-bottom: 20px;
  margin-top: 1.5%;
}

section p{
  font-family: Font1;
  text-decoration: wavy;
  text-align: center;
  font-style: italic;
}

section div {
  font-family: Font1;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
}

/* Estilos para las imágenes */
section div img {
  max-width: 30%;
  height: auto;
  border-radius: 5px;
}

/* Estilos para el texto del menú */
p {
  font-family: Font1;
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}

/* Estilos para los botones */
section div a {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: bisque;
  background-color: rgb(170, 109, 28);
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

section div a:hover {
  background-color: #964b00;
}

/* Estilos para la vista "Habitacion" */

/* Estilos para el título principal */
h1.habitacion-title {
  font-family: Font1;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

/* Estilos para el párrafo */
p.habitacion-text {
  font-family: Font1;
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}

/* Estilos para las imágenes */
img.habitacion-img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Estilos para el mensaje de error */
p.error {
  color: red;
  font-weight: bold;
}

/* Estilos para el formulario */
form {
  margin-bottom: 20px;
}

form input[type="text"] {
  font-family: Font1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 200px;
}

form input[type="text"]:focus {
  font-family: Font1;
  outline: none;
  border-color: #f1a32d;
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #f1a32d;
}

/*Tutorial*/
div img {
  max-width: 40%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 2%;
  margin-top: 2%;
}

/* Estilos para las imágenes de habitación */
img.habitacion-img {
  max-width: 100%; /* Ajusta el ancho máximo según necesites */
  height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  display: block; /* Asegura que la imagen se muestre como bloque para manejar el margen */
  border-radius: 5px;
  margin-bottom: 20px; /* Espacio inferior entre imágenes */
  margin-top: 20px; /* Espacio superior entre imágenes */
}

div p {
  font-family: Font1;
  font-size: 20px;
}

/* Estilos para el botón de pista */
button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: bisque;
  color: rgb(240, 165, 68);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #964b00;
}

.boton-submit{
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: rgb(240, 165, 68);
  color: bisque;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-submit:hover {
  background-color: #964b00;
}






